---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_103ksb246B16QpMhVrPzfY1L
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_wXHjXOVRvynH1l5Je59xV94F
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_103ksb246B16QpMhVrPzfY1L",
          "created": 1396101017,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_103ksb246B16QpMhmh0fyOKs",
              "object": "charge",
              "created": 1396101017,
              "livemode": false,
              "paid": true,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_103ksb246B16QpMh3CsCrY7P",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 11,
                "exp_year": 2014,
                "fingerprint": "1yVFObGxyd7k5MW8",
                "customer": "cus_3ksbApWAZi3WgN",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              },
              "captured": true,
              "refunds": [],
              "balance_transaction": "txn_103ksb246B16QpMhkQyenOZz",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_3ksbApWAZi3WgN",
              "invoice": "in_103ksb246B16QpMh9XeewnZw",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_description": "Myflix Fee"
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_3ksbNCC2eGmc3Z"
        }
  recorded_at: Sat, 29 Mar 2014 15:38:27 GMT
recorded_with: VCR 2.8.0
