---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_103l82246B16QpMhsGAqb8yf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_wXHjXOVRvynH1l5Je59xV94F
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_103l82246B16QpMhsGAqb8yf",
          "created": 1396158403,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_103l82246B16QpMhsHaIqYOD",
              "object": "charge",
              "created": 1396158403,
              "livemode": false,
              "paid": false,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_103l81246B16QpMhD0mZofRN",
                "object": "card",
                "last4": "0341",
                "type": "Visa",
                "exp_month": 5,
                "exp_year": 2015,
                "fingerprint": "OaqFkaS9UsRKmR2n",
                "customer": "cus_3l7x42Pi3dmd2F",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              },
              "captured": false,
              "refunds": [],
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_3l7x42Pi3dmd2F",
              "invoice": null,
              "description": "payment fail",
              "dispute": null,
              "metadata": {},
              "statement_description": null
            }
          },
          "object": "event",
          "pending_webhooks": 1,
          "request": "iar_3l82vU8XX0mUgu"
        }
  recorded_at: Sun, 30 Mar 2014 06:01:12 GMT
recorded_with: VCR 2.8.0
