---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=3&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_wXHjXOVRvynH1l5Je59xV94F
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103hOP246B16QpMh70CYaQ3x",
          "livemode": false,
          "created": 1395296774,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103hOP246B16QpMhYKeahZ0J",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 3,
            "exp_year": 2018,
            "fingerprint": "1yVFObGxyd7k5MW8",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Thu, 20 Mar 2014 06:26:14 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_103hOP246B16QpMh70CYaQ3x&email=kasandra%40hayes.biz&plan=base
    headers:
      Authorization:
      - Bearer sk_test_wXHjXOVRvynH1l5Je59xV94F
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "No such plan: base",
            "param": "plan"
          }
        }
  recorded_at: Thu, 20 Mar 2014 06:26:15 GMT
recorded_with: VCR 2.8.0
