---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=3&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_wXHjXOVRvynH1l5Je59xV94F
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103kqR246B16QpMhf262UKN7",
          "livemode": false,
          "created": 1396092963,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103kqR246B16QpMhytlk7W5W",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 3,
            "exp_year": 2018,
            "fingerprint": "1yVFObGxyd7k5MW8",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Sat, 29 Mar 2014 11:36:03 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_103kqR246B16QpMhf262UKN7&email=skylar.herzog%40ryanrempel.biz&plan=plan_id
    headers:
      Authorization:
      - Bearer sk_test_wXHjXOVRvynH1l5Je59xV94F
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1396092964,
          "id": "cus_3kqRDGfQPbn6aj",
          "livemode": false,
          "description": null,
          "email": "skylar.herzog@ryanrempel.biz",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_3kqRDGfQPbn6aj/subscriptions",
            "data": [
              {
                "id": "sub_3kqR0OIdFsXuDV",
                "plan": {
                  "interval": "month",
                  "name": "base",
                  "created": 1396092569,
                  "amount": 999,
                  "currency": "usd",
                  "id": "plan_id",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": 30,
                  "metadata": {},
                  "statement_description": "Myflix charge"
                },
                "object": "subscription",
                "start": 1396092964,
                "status": "trialing",
                "customer": "cus_3kqRDGfQPbn6aj",
                "cancel_at_period_end": false,
                "current_period_start": 1396092964,
                "current_period_end": 1398684964,
                "ended_at": null,
                "trial_start": 1396092964,
                "trial_end": 1398684964,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null
              }
            ],
            "count": 1
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_3kqRDGfQPbn6aj/cards",
            "data": [
              {
                "id": "card_103kqR246B16QpMhytlk7W5W",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 3,
                "exp_year": 2018,
                "fingerprint": "1yVFObGxyd7k5MW8",
                "customer": "cus_3kqRDGfQPbn6aj",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ],
            "count": 1
          },
          "default_card": "card_103kqR246B16QpMhytlk7W5W"
        }
  recorded_at: Sat, 29 Mar 2014 11:36:04 GMT
recorded_with: VCR 2.8.0
