---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=3&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_wXHjXOVRvynH1l5Je59xV94F
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103kqR246B16QpMh5NO6JdVF",
          "livemode": false,
          "created": 1396092958,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103kqR246B16QpMhd4fMB8b7",
            "object": "card",
            "last4": "0002",
            "type": "Visa",
            "exp_month": 3,
            "exp_year": 2018,
            "fingerprint": "xYjydEeuF7qKfsLY",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Sat, 29 Mar 2014 11:35:58 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_103kqR246B16QpMh5NO6JdVF&email=nicholas%40durganrobel.net&plan=plan_id
    headers:
      Authorization:
      - Bearer sk_test_wXHjXOVRvynH1l5Je59xV94F
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined"
          }
        }
  recorded_at: Sat, 29 Mar 2014 11:35:59 GMT
recorded_with: VCR 2.8.0
